.flow-header{
    margin-top: 10vw;
    font-size: 10vw;
}

.content{
    padding-top: 7vh;
    margin: 0 auto;
    margin-bottom: 15vw;
}

@media screen and (min-width: 1200px) {
    .flow-header{
        text-align: center;
        font-size: 5vw;
        margin-top: 3vw;
    }
    .content{
        padding-top: 3vw;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
}