.style-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    border-radius: 20px;
    padding: 3vw 0 3vw 0;
    border: none;
    background-color: transparent;
}
.style-container:hover{
    cursor: pointer;
    transition: all 0.5s ease;
    transform: scale(1.1);
    box-shadow: 0px 1px 18px rgba(255, 0, 242, 0.89);
}
.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vw;
    margin: 5vw 0 5vw 0;
    border-radius: 20px;
}
.header{
    color: rgb(255, 255, 255);
}


@media screen and (min-width: 1200px) {
    .style-container{
        width: 25vw;
        margin: 5vw 3vw 0 3vw;
        height: 30vw;
        background-color: rgb(24, 24, 24);
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.548);
    }
    .style-container:hover{
        box-shadow: 0px 5px 45px rgb(0, 0, 0);
    }
    .image{
        width: 60%;
        height: auto;
        margin: 1vw 0 0vw 0;
    }
}