.flow{position: absolute; width: 100%; top: 0; left: 0;}
.logo-flow{
    position: absolute;
    right: 8vw;
    top: 5vw;
    font-size: 4vw;
}
.flow-header{
    margin-top: 14vw;
    font-size: 10vw;
}
.content{
    padding-top: 7vh;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .logo-flow{
        right: 5vw;
        top: 3vw;
        font-size: 2vw;
    }
    .flow-header{
        text-align: center;
        font-size: 3vw;
        margin-top: 5vw;
    }
    .content{
        padding-top: 3vw;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        align-items: center;
    }
}