.description{
    width: 80vw;
    height: 40vw;
    border-radius: 20px;
    margin-top: 3vw;
    font-size: 3.5vw;
    padding: 2.8vw;
    padding-left: 4vw;
    margin-left: 6vw;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.692);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    color: rgb(255, 255, 255);
}
.description::placeholder{color: white;}
.input::placeholder{color: white;}
.input{
    width: 55vw;
    height: 7vw;
    margin: 3vw 100px 10vw 6vw;
    border-radius: 20px;
    padding: 2.2vw;
    font-size: 3.5vw;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.685);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    float: left;
}
.error-form{
  position: absolute;
  text-align: left;
  margin-left: 8vw;
  margin-top: 17vw;
  color: rgba(255, 0, 0, 0.705);
  font-size: 3vw;
}
.field-error{
  border: 2px solid rgba(255, 0, 0, 0.774);
}
.label{
    text-align: left;
    margin-left: 6vw;
    font-size: 4vw;
}
.form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.description-info{
  display: none;
}
#emailus-info{
  display: none;
}
  
  #continue-btn{
    margin: 0 auto;
    margin-top: 10vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vw;
    font-size: 4vw;
    font-weight: 700;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.384);
  }

  @media screen and (min-width: 1200px) {

    .label{
      margin: 4vw 0 0 4vw;
      font-size: 2vw;
    }
    .description{
      height: 18vw;
      width: 40vw;
      font-size: 1.2vw;
      padding: 1vw;
      margin-left: 4vw;
      margin-top: 1.5vw;
;
    }
    .input{
      width: 20vw;
      height: 1vw;
      margin: 1.5vw 12vw 3vw 4vw;
      padding: 1vw;
      font-size: 1.2vw;

    }
    .error-form{
      position: absolute;
      margin-top: 5.5vw;
      margin-left: 5vw;
      font-size: 1vw;
    }
    .description-note{
      width: 20vw;
      height: 25vw;
      margin-left: 5vw;
      margin-top: 4vw;
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.411);
      border-radius: 30px;
      text-align: center;
      padding: 5vw;
      backdrop-filter: blur(15px);
      background-color: rgb(24, 24, 24);
    }
    .description-info{
      display: block;
      margin: 0 auto;
      font-size: 1.1vw;
    }
    #emailus-info{
      font-size: 1vw;
    }
  #continue-btn{
    position: relative;
    margin: 0 auto;
    margin-top: 6vw;
    font-size: 1vw;
    font-weight: 700;
    text-align: center;
    width: 14vw;
    height: 4vw;
  }

  }
