.description{
    width: 80vw;
    height: 40vw;
    border-radius: 20px;
    margin-top: 3vw;
    font-size: 3vw;
    padding: 2.5vw;
    margin-left: 6vw;
    border: solid 2px black;
}

.input{
    width: 55vw;
    height: 7vw;
    margin: 3vw 100px 10vw 6vw;
    border-radius: 20px;
    padding: 2vw;
    font-size: 3vw;
    border: solid 2px black;
    float: left;
}
.label{
    text-align: left;
    margin-left: 6vw;
    font-size: 4vw;
}
.form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
img {
    max-height: 240px;
    max-width: 70vw;
    margin: 0 auto;
  }
  
  .app-container {
    width: 85vw;
    margin-left: 6vw;
    border-radius: 20px;
  }
  
  .clear {
    clear: both;
    margin: 0 auto;
    border: none;
    margin-right: 15vw;
    margin-top: -5.4vw;
    height: 10vw;
    float: right;
    background-color: transparent;
  }
  
  .details,
  .title {
    text-align: left;
  }
  .details{
      margin-left: 5vw;
  }
  .title{
      font-size: 4vw;
      margin: 10vw 0 0 6vw;
  }
  
  .error {
    margin-top: 4px;
    color: red;
  }
  
  .has-error {
    border: 1px dotted red;
  }
  
  .image-container {
    align-items: center;
    display: flex;
    width: 85%;
    height: 80%;
    float: left;
    margin: 15px 10px 10px 37px;
    text-align: center;
  }
  
  .preview-container {
    height: 365px;
    width: 100%;
  }
  
  .placeholder-preview {
    cursor: pointer;
  }
  
  .placeholder-preview,
  .render-preview {
    text-align: center;
    background-color: #efebeb;
    height: 100%;
    width: 86vw;
    margin-left: 6vw;
    border-radius: 20px;
    margin-top: 3vw;
  }
  
  .upload-container {
    cursor: pointer;
    height: 300px;
  }
  #continue-btn{
    margin: 0 auto;
    margin-top: 12vw;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 4vw;
  }

  @media screen and (min-width: 1200px) {
    .label{
      margin-left: 4vw;
      font-size: 2.5vw;
      margin-top: 2vw;
    }
    .description{
      height: 18vw;
      width: 40vw;
      font-size: 1.2vw;
      padding: 1vw;
      margin-left: 4vw;
      margin-top: 1.5vw;
    }
    .input{
      width: 20vw;
      height: 1vw;
      margin: 1.5vw 12vw 3vw 4vw;
      padding: 1vw;
      font-size: 1.2vw;
    }
    .preview-container {
      height: 23vw;
      width: 45vw;
    }
    img {
      max-height: 15vw;
      max-width: 70%;
      margin: 0 auto;
    }
    .title{
      font-size: 2.5vw;
      margin: 2vw 0 0 8vw;
  }
  .details{
    margin-left: 2vw;
    max-width: 80%;
  }
  .placeholder-preview,
  .render-preview {
    height: 100%;
    width: 35vw;
    margin-left: 8vw;
    margin-top: 1.5vw;
  }
  .image-container {
    width: 80%;
    height: 70%;
    float: left;
    margin: 25px 37px 20px 37px;
  }
  .clear {
    position: absolute;
    margin-left: 39vw;
    margin-top: -4.7vw;
    height: 10vw;
    cursor: pointer;
  }
  #continue-btn{
    position: relative;
    margin: 0 auto;
    margin-top: 7.5vw;
    margin-left: 8vw;
    margin-right: 0vw;
    font-size: 2vw;
  }

  }
