.success-header{
    margin-top: 14vh;
    font-size: 14vw;
}
.success-message{
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 7vw;
}
.tick-illustration{
    background-image: url("../images/tick.png");
    background-position: center;
    background-size: cover;
    height: 35vw;
    width: 35vw;
    margin: 0 auto;
    margin-top: 10vh;
}
.success-info{
    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    font-size: 4vw;
}

@media screen and (min-width: 1200px) {
    .success-header{
        font-size: 7vw;
    }
    .success-message{
        font-size: 3vw;
        width: 40vw;
        margin-top: 5vw;
    }
    .tick-illustration{
        width: 15vw;
        height: 15vw;
        margin-top: 5vw;
    }
    .success-info{
        font-size: 1.5vw;
        margin-top: 2vw;
    }
}