.summary-container{
    margin-top: 4vh;
    padding: 3vw 0 3vw 0;
}
.summary-header{
    text-align: center;
    font-size: 10vw;
}
.card-illustration{
    width: 40vw;
    height: 30vw;
    background-image: url("../images/paint-kit-dynamic-gradient.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 5vh;
}
.order-greeting{
    margin-top: 5vh;
    max-width: 100%;
    overflow: hidden;
    font-size: 5vw;
}
.order-text{
    width: 90%;
    margin: 0 auto;
    font-size: 5vw;
}

.summary-note{
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 8vh;
    width: 80%;
    text-align: center;
}
.paypal-button-container{
    width: 70%;
    margin: 0 auto;
}
.buybtn{
    width: 70%;
    padding: 2vw 0 2vw 0;
    font-size: 6vw;
    font-weight: 700;
    margin-top: 4vw;
    background-color: #635bff;
    border: none;
    border-radius: 30px;
}

@media screen and (min-width: 1200px) {
    .summary-container{
        margin: 0 auto;
        width: 30%;
        height: 75vh;
        margin-top: 7vh;
        background-color: rgb(24, 24, 24);
        border-radius: 30px;
        padding: 3vw 0 3vw 0;
    }
    .summary-note{
        margin: 0 auto;
        margin-top: 3vw;
        width: 80%;
    }

}