.summary-container{
    margin-top: 4vh;
    padding: 3vw 0 3vw 0;
}
.summary-header{
    text-align: center;
    font-size: 10vw;
}
.aspect{
    margin: 3vw 0 3vw 2vw;
    text-align: center;
    font-size: 3vw;
    font-weight: 400;
}
.order-greeting{
    margin-top: 10vw;
    max-width: 100%;
    overflow: hidden;
    font-size: 5vw;
}
.order-text{
    width: 90%;
    margin: 0 auto;
    font-size: 5vw;
}

.summary-note{
    margin: 0 auto;
    margin-top: 10vw;
    margin-bottom: 5vw;
    width: 80%;
    text-align: center;
}
.paypal-button-container{
    width: 70%;
    margin: 0 auto;
}
.buybtn{
    width: 70%;
    padding: 2vw 0 2vw 0;
    font-size: 6vw;
    font-weight: 700;
    margin-top: 4vw;
    background-color: #635bff;
    border: none;
    border-radius: 30px;
}

@media screen and (min-width: 1200px) {
    .summary-container{
        margin: 0 auto;
        width: 30%;
        height: 75vh;
        margin-top: 7vh;
        background-color: rgb(24, 24, 24);
        border-radius: 30px;
        padding: 3vw 0 3vw 0;
    }
    .summary-header{
        text-align: center;
    }
    .aspect{
        margin: 2vw 0 2vw 2vw;
        text-align: left;
        font-size: 1vw;
    }
    .desc{
        text-align: left;
        width: 80%;
        max-height: 10vw;
        overflow-y: scroll;
        margin: 0 auto;
        font-size: 1vw;
    }
    .summary-note{
        margin: 0 auto;
        margin-top: 3vw;
        width: 80%;
    }

}