.about-container {
    border-radius: 12px;
    padding: 0;
    margin: 0 auto;
    margin-top: 15vw;
    margin-bottom: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .illustration { 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vw;
    width: 100%;
    border-radius: 20px;
  }
  .header { font-size: 8vw; text-align: center; margin-top: 3vw;}
  .text { font-size: 5vw; margin-top: 2vw; text-align: center; color: rgba(0, 0, 0, 0.699); width: 70%; padding: 0 10% 0 10%;}

  @media screen and (min-width: 1200px){
    .about-container{
      width: 30vw;
      margin: 0;
      padding: 3vw 0 3vw 0;
      margin: 0;
    }
    .illustration{
      height: 12vw;
    }
    .header{
      font-size: 2.5vw;
    }
    .text{
      font-size: 1.2vw;
    }
  }